@charset "UTF-8";
#home {
  background-size: cover;
  background-position: center top;
  background-image: url(../../images/main-bg.jpg);
  min-height: 100vh;
}

#home .home-content__title {
  text-transform: none;
}

/* 共通部分
------------------------------- */
html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.page-header {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header__logo {
  width: 210px;
  margin-top: 14px;
}

.nav__main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.nav__nav-item {
  margin-left: 36px;
}

.nav__nav-link {
  color: #432;
}

.nav__nav-link:hover {
  color: #0bd;
}

.home-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
  text-align: center;
  margin-top: 10%;
}

.home-content__title {
  font-size: 5rem;
  font-family: "Philosopher", serif;
  text-transform: uppercase;
  font-weight: normal;
}

.home-content__text {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

.home-content__button {
  font-size: 1.375rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}

.home-content__button:hover {
  background: #0090aa;
}

#news {
  background-size: cover;
  background-position: center top;
  background-image: url(../../images/news-bg.jpg);
  height: 270px;
  margin-bottom: 40px;
}

.news-heading {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.news-heading__title {
  font-size: 5rem;
  font-family: "Philosopher", serif;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.footer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
  background: #432;
  text-align: center;
  padding: 26px 0;
}

.footer__copy {
  color: #fff;
  font-size: 0.875rem;
}

.news-contents {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.news-contents__main {
  width: 74%;
}

.news-contents__post-info {
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}

.news-contents__post-title {
  font-family: "Yn Mincho", "YuMincho", serif;
  font-size: 2rem;
  font-weight: normal;
}

.news-contents__post-title, .news-contents__post-cat {
  margin-left: 120px;
}

.news-contents__post-date {
  background: #0bd;
  border-radius: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  font-size: 1.625rem;
  text-align: center;
  position: absolute;
  top: 0;
  padding-top: 10px;
}

.news-contents__post-year {
  font-size: 1rem;
  border-top: 1px rgba(255, 255, 255, 0.5) solid;
  padding-top: 6px;
  display: block;
  width: 60%;
  margin: 0 auto;
}

.news-contents__image {
  margin-bottom: 20px;
}

.news-contents__text {
  margin-bottom: 1rem;
}

.news-contents__aside {
  width: 22%;
}

.news-contents__sub-menu {
  margin-bottom: 60px;
  list-style: none;
}

.news-contents__sub-item {
  border-bottom: 1px #ddd solid;
}

.news-contents__link {
  color: #432;
  padding: 10px;
  display: block;
}

.news-contents__link:hover {
  color: #0bd;
}

.news-contents__sub-title {
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
}

.news-contents__sub-text {
  padding: 12px 10px;
}
/*# sourceMappingURL=style.css.map */